* {
  box-sizing: border-box;
}

body {
  font-family: "karla", sans-serif;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  width: 100vw;
  align-items: center;
  height: 64px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 2%;
}

.header--image {
  height: 50px;
  width: 80px;
  margin-right: 6px;
}

.header--title {
  font-size: 24px;
  margin-right: auto;
}

.header--project {
  font-size: 20px ;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 20px;

}

.form {
  padding-top: 5%;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 10px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "karla", sans-serif;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  cursor: pointer;
  border: none;
}

.meme--container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.meme--image {
  object-fit: cover;
}